---
// Component Imports
import LoginVue from "../../components/LoginVue.vue";
---

<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      type="text/css"
      href={Astro.resolve("../../styles/global.css")}
    />
  </head>

  <body class="container p-4 min-w-full">
    <LoginVue client:visible />
  </body>
</html>
